---
layout: default
---
<style type="text/css">
  h1 {
    font-size: 2.2rem;
    font-weight: 600;
  }
  h2 {
    font-size: 2rem;
    font-weight: 550;
  }
  h3 {
    font-size: 1.75rem;
    font-weight: 500;
  }
  h4 {
    font-size: 1.4rem;
    font-weight: 450;
  }
  p {
    font-size: 1rem;
  }
  {% if page._styles %}
    {{ page._styles }}
  {% endif %}
</style>

<div class="post">
  {% if page.toc and page.toc.sidebar %}
    {% if page.toc.sidebar == 'right' %}
      <div class="row">
        <!-- main content area -->
        <div class="col-sm-9">
          <article>
            {{ content }}
          </article>
          {% if page.related_publications %}
            <h2>References</h2>
            <div class="publications">
              {% bibliography --cited_in_order %}
            </div>
          {% endif %}
          {% if site.giscus and page.giscus_comments %}
            {% include giscus.liquid %}
          {% endif %}
        </div>
        <!-- sidebar, which will move to the top on a small screen -->
        <div class="col-sm-3">
          <nav id="toc-sidebar" class="sticky-top"></nav>
        </div>
      </div>
    {% else %}
      <div class="row">
        <!-- sidebar, which will move to the top on a small screen -->
        <div class="col-sm-3">
          <nav id="toc-sidebar" class="sticky-top"></nav>
        </div>
        <!-- main content area -->
        <div class="col-sm-9">
          <article>
            {{ content }}
          </article>
          {% if page.related_publications %}
            <h2>References</h2>
            <div class="publications">
              {% bibliography --cited_in_order %}
            </div>
          {% endif %}
          {% if site.giscus and page.giscus_comments %}
            {% include giscus.liquid %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% else %}
    <article>
      {{ content }}
    </article>
    {% if page.related_publications %}
      <h2>References</h2>
      <div class="publications">
        {% bibliography --cited_in_order %}
      </div>
    {% endif %}
    {% if site.giscus and page.giscus_comments %}
      {% include giscus.liquid %}
    {% endif %}
  {% endif %}
</div>